@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model int


<td style="width:150px">
    <div class="btn-group" role="group">
        <a class="btn btn-primary text-white" asp-action="Edit" asp-route-Id="@Model"><i class="fa-solid fa-pen-to-square"></i></a>
        <button type="submit" class="btn btn-success anchorDetail btnViewDetails" data-id="@Model">
            <i class="fa-solid fa-search" data-toggle="modal"></i>
        </button>
        <button type="button" class="btn btn-danger anchorDetail btnDelete" data-id="@Model">
            <i class="fa-solid fa-trash" data-toggle="modal"></i>
        </button>

    </div>
</td>





    
