<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VisionPos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VisionPos.styles.css" asp-append-version="true" />
    @*<meta name="viewport" content="width=device-width" />*@
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="sidebar" id="sidebar">
        <button id="toggleSidebarButton" onclick="toggleSidebar()"><i class="fas fa-bars"></i></button>
        <br/>
        <br/>
        <br />
        <ul>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="CustomerType" asp-controller="CustomerType" asp-action="Index"><i class="fa-solid fa-users"></i>&nbsp; <strong>Customer Type</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Customer" asp-controller="Customer" asp-action="Index"><i class="fa fa-user"></i>&nbsp; <strong>Customer</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Privacy"><i class="fa-solid fa-list"></i>&nbsp; <strong>Items</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Privacy"><i class="fa-solid fa-file-invoice"></i>&nbsp; <strong>Invoice</strong></a>
            </li>
        </ul>
        
    </div>

    <div class="content" id="content">
        @RenderBody()
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <script>
        function toggleSidebar() {
            var sidebar = document.getElementById("sidebar");
            var content = document.getElementById("content");
            sidebar.classList.toggle("collapsed");
            content.classList.toggle("expanded");
        }
    </script>
</body>
</html>
